<%= form_with(model: question) do |form| %>
  <% if question.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :assignment %>
    <%= form.text_area :assignment %>
  </div>

  <div>
    <%= form.check_box :is_multichoice %>
    <%= form.label :is_multichoice %>
  </div>

  <div>
    <%= form.fields_for :answers do |af| %>
      <%= render "answer_fields", form: af %>
    <% end %>
  </div>

<!--  <div>-->
    <%#= form.fields_for :categories do |cf| %>
      <%#= cf.label :title %>
      <%#= cf.text_field :title %>
    <%# end %>
<!--  </div>-->

  <div>
    <%= form.submit %>
  </div>
<% end %>
