<%= form_with(model: question) do |form| %>
  <% if question.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :assignment, class: 'form-label' %>
    <%= form.text_area :assignment, class: 'form-control'%>
  </div>

  <div class="form-check form-switch">
    <%= form.check_box :is_multichoice, class: 'form-check-input' %>
    <%= form.label :is_multichoice, class: 'form-check-label' %>
  </div>

  <div id="answers">
    <%= form.fields_for :answers do |af| %>
      <%= render "answers/form", form: af %>
    <% end %>
  </div>

  <%= form.submit "Add answer", class: 'btn btn-outline-primary',
                  formaction: answer_path(@question.answers.size),
                  formmethod: :post,
                  formnovalidate: true,
                  id: "add-answer"
  %>

  <hr>

  <%= form.label :categories, "Categories" %><br>
  <div class="d-flex my-1 align-items-center flex-wrap">
    <% Category.all.each do |category| %>
      <div class="me-1">
        <%= check_box_tag "question[category_ids][]", category.id, @question.category_ids.include?(category.id), id: "category_#{category.id}", class: 'd-none category-checkbox' %>
        <%= label_tag "category_#{category.id}", category.title, class: "btn btn-outline-primary toggle-label" %>
      </div>
    <% end %>
    <div id="categories" class="d-flex flex-wrap">
      <%= form.fields_for :categories do |cf| %>
        <% unless form.object.persisted? %>
          <%= render "categories/form", form: cf %>
        <% end %>
      <% end %>
    </div>
    <%= form.submit "add category", class: 'btn btn-outline-secondary',
                    formaction: category_path(@question.categories.size),
                    formmethod: :post,
                    formnovalidate: true,
                    id: "add-category"
    %>
  </div>

  <div>
    <%= form.submit class: 'btn btn-outline-success mt-4' %>
  </div>
<% end %>
