<%= form_with(model: attempt, url: attempt.persisted? ? test_attempt_path(@test, attempt) : test_attempts_path) do |form| %>
  <% if @attempt.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@attempt.errors.count, "error") %> prohibited this attempt from being saved:</h2>
      <ul>
        <% @attempt.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :country, class: 'form-label' %>
    <%= form.text_field :country, class: 'form-control' %>
  </div>

  <div>
    <%= form.label :city, class: 'form-label' %>
    <%= form.text_field :city, class: 'form-control' %>
  </div>

  <% if form.object.persisted? %>
    <div>
      <%= form.label :score, class: 'form-label' %>
      <%= form.number_field :score, class: 'form-control' %>
    </div>
  <% else %>
    <%= form.fields_for :attempts_questions do |aq_form| %>
      <% question = aq_form.object.question %>

      <div>
        <h4><%= question.assignment %></h4>
        <div class="row">
          <% question.answers.each do |answer| %>
            <div class="col-12 col-md-6 mb-2">
              <%= aq_form.radio_button :answer_id, answer.id, id: "question_#{question.id}_answer_#{answer.id}", class: 'd-none category-checkbox' %>
              <%= label_tag "question_#{question.id}_answer_#{answer.id}", class: "btn btn-outline-primary w-100 toggle-label text-wrap text-start" do %>
                <%= answer.body %>
              <% end %>
            </div>
          <% end %>
        </div>

        <%= aq_form.hidden_field :question_id %>
      </div>
    <% end %>
  <% end %>
  <div>
    <%= form.submit class: 'btn btn-outline-success' %>
  </div>
<% end %>
