<%= render "shared/link_back", path: tests_path, text: "<-- #{t(".back")}" %>
<div class="d-flex justify-content-between align-items-center w-100">
  <h1><%= t(".header") %></h1>
  <%= link_to new_test_attempt_path, class: 'btn btn-primary' do %>
    <i class="bi bi-plus-lg me-2"></i><%= t(".new") %>
  <% end %>
</div>

<div id="attempt">
  <% @attempts.each do |attempt| %>
    <%= link_to test_attempt_path(@test, attempt), class: 'text-decoration-none text-black' do %>
      <%= render attempt %>
    <% end %>
  <% end %>
</div>
