<%= turbo_frame_tag "category_#{form.index}" do %>
  <div>
    <%= form.hidden_field :id %>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <%= form.submit "destroy category",
                  formaction: category_path(form.index, form.object.id),
                  formmethod: :delete,
                  formnovalidate: true,
                  data: { turbo_frame: "category_#{form.index}" }
  %>
<% end %>
