<%= form_with model: test do |form| %>
  <% if test.errors.any? %>
    <div style="color: red">
      <h2><%= t("helpers.error.header", count: @test.errors.count, model: t("activerecord.models.test")) %></h2>
      <ul>
        <% test.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :question_ids, "Questions", class: 'form-label' %>
    <div class="row">
      <% Question.all.each do |question| %>
        <div class="col-12 col-md-6 mb-2">
          <%= check_box_tag "test[question_ids][]", question.id, test.question_ids.include?(question.id), id: "question_#{question.id}", class: 'd-none category-checkbox' %>
          <%= label_tag "question_#{question.id}", class: "btn btn-outline-primary w-100 toggle-label text-wrap text-start" do %>
            <%= question.assignment %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div>
    <%= form.submit class: 'btn btn-outline-success' %>
  </div>
<% end %>
