<%= form_with model: test do |form| %>
  <% if test.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(test.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
        <% test.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>


  <div>
    <%= form.label :question_ids, "Select questions" %><br>
    <% Question.all.each do |question| %>
      <div>
        <%= check_box_tag "test[question_ids][]", question.id, test.question_ids.include?(question.id), id: "question_#{question.id}" %>
        <%= label_tag "question_#{question.id}", question.assignment %>
      </div>
    <% end %>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
