<% content_for :title, "Tests" %>

<div class="d-flex justify-content-between align-items-center w-100">
  <h1><%= t(".header") %></h1>
  <% if current_user.admin? %>
    <%= link_to new_test_path, class: 'btn btn-primary' do %>
      <i class="bi bi-plus-lg me-2"></i><%= t(".new") %>
    <% end %>
  <% end %>
</div>

<div id="tests">
  <% @tests.each do |test| %>
      <div class="border border-black rounded-1 mb-1 p-1 d-flex justify-content-between align-items-center">
        <div class="text-wrap text-break me-3" style="min-width: 0; flex: 1 1 auto;">
          <% if current_user.admin? %>
            <%= link_to test_path(test), class: "text-decoration-none text-black w-100" do %>
              <%= test.title %>
            <% end %>
          <% else %>
            <%= link_to test_attempts_path(test), class: "text-decoration-none text-black w-100" do %>
              <%= test.title %>
            <% end %>
            <%#= test.title %>
          <% end %>
        </div>
        <div class="d-flex gap-2">
          <%= link_to test_attempts_path(test), class: 'btn btn-outline-secondary w-100 text-nowrap' do %>
            <i class="bi bi-list"></i>
          <% end %>
          <%= link_to new_test_attempt_path(test), class: 'btn btn-outline-primary w-100 text-nowrap' do %>
            <i class="bi bi-file-earmark-plus"></i>
          <% end %>
        </div>
      </div>
  <% end %>
</div>

<div class="mt-4">
  <h3><%= t(".import") %></h3>
  <%= form_with url: import_tests_path, method: :post do |form| %>
    <div>
      <%= form.label :file, class: 'form-label' %>
      <%= form.file_field :file, accept: ".csv", class: 'form-control' %>
    </div>

    <%= form.submit t(".new"), class: 'btn btn-outline-primary mt-2' %>
  <% end %>

</div>
