<% content_for :title, "Tests" %>

<div class="d-flex justify-content-between align-items-center">
  <h1>Tests</h1>
  <% if current_user.admin? %>
    <%= link_to "New test", new_test_path, class: 'btn btn-primary' %>
  <% end %>
</div>

<div id="tests">
  <% @tests.each do |test| %>
      <div class="border border-black rounded-1 mb-1 p-1 d-flex justify-content-between align-items-center">
        <p class="text-wrap text-break me-3" style="min-width: 0; flex: 1 1 auto;">
          <% if current_user.admin? %>
            <%= link_to test_path(test), class: "text-decoration-none text-black flex-grow-1" do %>
              <%= test.title%>
            <% end %>
          <% else %>
            <%= test.title %>
          <% end %>
        </p>
        <div class="d-flex gap-2">
          <%= link_to "Your attempts", test_attempts_path(test), class: 'btn btn-outline-secondary w-100 text-nowrap' %>
          <%= link_to "New attempt", new_test_attempt_path(test), class: 'btn btn-outline-primary w-100 text-nowrap' %>
        </div>
      </div>
  <% end %>
</div>
