<% content_for :title, "Tests" %>

<h1>Tests</h1>

<div id="tests">
  <% @tests.each do |test| %>
    <%= test.title %>
    <p>
      <%= link_to "Show this test", test_path(test) %>
    </p>
    <p>
      <%= link_to "Show your attempts", test_attempts_path(test) %>
    </p>
    <p>
      <%= link_to "New attempt", new_test_attempt_path(test) %>
    </p>
  <% end %>
</div>

<%= link_to "New test", new_test_path %>
