<% content_for :title, "Tests" %>

<div class="d-flex justify-content-between align-items-center">
  <h1>Tests</h1>
  <% if current_user.admin? %>
    <%= link_to "New test", new_test_path, class: 'btn btn-primary' %>
  <% end %>
</div>

<div id="tests">
  <% @tests.each do |test| %>
      <div class="border border-black rounded-1 mb-1 p-1 d-flex justify-content-between align-items-center">
        <% if current_user.admin? %>
            <%= link_to test_path(test), class: "text-decoration-none text-black flex-grow-1" do %>
              <%= test.title%>
            <% end %>
        <% else %>
          <%= test.title %>
        <% end %>
        <div>
          <%= link_to "Show your attempts", test_attempts_path(test), class: 'btn btn-outline-secondary' %>
          <%= link_to "New attempt", new_test_attempt_path(test), class: 'btn btn-outline-primary' %>
        </div>
      </div>
  <% end %>
</div>
